.navbar {
    position: relative;
    height: 200px;
    background-color: greenyellow;
    width: 98%;
    margin: 15px;
}

.bigbox {
width: 200px;
height: 100px;
position: absolute;
left: 1;
margin: 30px;
background-color: green;
top: 10%;
}

.smallbox1 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: green;
    top: 25%;
    right: 5%;
}

.smallbox2 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: green;
    top: 25%;
    right: 15%;
}

.smallbox3 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: green;
    top: 25%;
    right:25%;
}
.lila {
margin: 15px;
height: 400px;
width: 400px;
background-color: violet;
position: relative;
}

.black {
left: 1;
bottom: 0;
position: absolute;
height: 50px;
width: 50px;
background-color: black;
}

.green {
position: absolute;
right: 0%;
bottom: 0;
height: 200px;
width: 200px;
background-color: green;
}