.navbar {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 70%;
    position: absolute;
    top: 80%;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
    border: 2px solid #000;
    padding: 10px;
  }
  
  
  .box1 {
    background: green;
    height: 20px;
    width: 40px;
    margin: 20px;
  }

  .box2 {
    background: green;
    height: 20px;
    width: 40px;
    margin: 20px;
  }

  .box3 {
    background: green;
    height: 20px;
    width: 40px;
    margin: 20px;
  }